Bin/*
Win32/*
x64/*
Hect/Doc/*
Hect/Intermediate/*
Hect/Source/Hect/Reflection/_*
Hect/HectTests/Intermediate/*
Hect/Tools/Reflect/Intermediate/*
Zeroth/Intermediate/*
Tests/UnitTests/Intermediate/*
Dependencies/*
*.opensdf
*.sdf
*.suo
*.sublime-workspace
Hect/Ignore.txt
Hect/Source/Hect/Reflection/RegisterTypes.cpp
Hect/Source/Hect/Reflection/RegisterTypes.h
