Bin/*
Ignore.txt
Dependencies/*
Intermediate/*
Source/Hect/Generated/*
Docs/Output/*
Docs/Intermediate/*
Reflect/Intermediate/*
Tests/Intermediate/*
Zeroth/Intermediate/*
*.opensdf
*.sdf
*.suo
*.sublime-workspace