Bin/*
Win32/*
x64/*
Ignore.txt
Intermediate/*
Source/Hect/Generated/*
Docs/Output/*
Docs/Intermediate/*
Reflect/Intermediate/*
Tests/Intermediate/*
Zeroth/Intermediate/*
Dependencies/*
*.opensdf
*.sdf
*.suo
*.sublime-workspace